<ion-content>
  <div class="list card">
    <div class="item">
      <h2>Buster Posey</h2>
      <p>Home run</p>
    </div>

    <div class="item item-image">
      <img src="img/buster-posey-hr.jpg">
    </div>

    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-eye"></i>
      Watch this game on TV
    </a>
    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-videocamera"></i>
      View this replay in VR
    </a>
  </div>

  <div class="list card">
    <div class="item">
      <h2>Corey Seager</h2>
      <p>Home run</p>
    </div>

    <div class="item item-image">
      <img src="img/Corey-Seager-hr.jpg">
    </div>

    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-eye"></i>
      Watch this game on TV
    </a>
    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-videocamera"></i>
      View this replay in VR
    </a>
  </div>
</ion-content>
