<ion-content>
  <div class="list card">
    <div class="item item-divider">
      Available
    </div>
    <a class="item item-icon-left"
      ng-click="connectToCamera()">
      <i class="icon ion-camera"></i>
      LG CAM 360 051402
    </a>

    <div class="item item-divider">
      Upcoming supports
    </div>
    <a href="#" class="disabled item item-icon-left" ng-click="connectToCamera()">
      <i class="icon ion-camera"></i>
      Samsung Gear 360
    </a>

    <a href="#" class="disabled item item-icon-left" ng-click="connectToCamera()">
      <i class="icon ion-camera"></i>
      Freedom360 GoPro Mount
    </a>
  </div>
</ion-content>
